%h1 Unit Files

= button_to "Import Files", etl_process_imports_path, method: :get

%table
  %thead
    %tr
      %th Price
      %th Name
      %th Description
      %th Area

  %tbody
    - @units.each do |unit|
      %tr
        %td= unit.price
        %td= unit.name
        %td= unit.description
        %td= unit.area

%br

